[submodule "src/unitree_ros"]
	path = src/unitree_ros
	url = ssh://git@github.com:Soralsei/unitree_ros.git
[submodule "src/unitree_guide"]
	path = src/unitree_guide
	url = ssh://git@github.com:Soralsei/unitree_guide.git
[submodule "src/UnitreecameraSDK"]
	path = src/UnitreecameraSDK
	url = ssh://git@github.com:Soralsei/UnitreecameraSDK.git
[submodule "opencv"]
	path = opencv
	url = git@github.com:opencv/opencv.git
	branch = 4.x
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = git@github.com:Soralsei/vision_opencv.git
	branch = melodic
[submodule "src/vision_opencv/"]
	branch = melodic
