[submodule "src/unitree_ros2"]
	path = src/unitree_ros2
	url = git@github.com:katie-hughes/unitree_ros2.git
[submodule "src/unitree_nav"]
	path = src/unitree_nav
	url = git@github.com:Marnonel6/unitree_nav.git
[submodule "src/unitree_camera"]
	path = src/unitree_camera
	url = git@github.com:ngmor/unitree_camera.git
[submodule "src/UnitreecameraSDK"]
	path = src/UnitreecameraSDK
	url = https://github.com/ngmor/UnitreecameraSDK.git
[submodule "opencv"]
	path = opencv/
	url = git@github.com:opencv/opencv.git
