<launch>
    <!-- left camera -->
    <arg name="left_enable_cam" default="true" doc="Enable the left camera of the GO1" />

    <arg name="left_fps" default="30.0" doc="The framerate of the left camera." />

    <arg name="left_frame_width" default="928" doc="Captured frame width" />
    <arg name="left_frame_height" default="400" doc="Captured frame height" />

    <arg name="offset_time" default="0.0"
        doc="Time offset between ROS master and executing board" />

    <arg name="left_enable_raw" default="true" doc="Enable publishing of raw frames." />
    <arg name="left_enable_rect" default="false" doc="Enable publishing of rectified frames." />
    <arg name="left_enable_depth" default="false" doc="Enable publishing of depth map." />
    <arg name="left_enable_point_cloud" default="false" doc="Enable publishing of point cloud data" />

    <include file="$(find unitree_camera)/launch/camera_publisher.launch"
        if="$(arg left_enable_cam)" ns="camera_left">
        <arg name="fps" value="$(arg left_fps)" />
        <arg name="device_node" value="1" />

        <arg name="frame_width" value="$(arg left_frame_width)" />
        <arg name="frame_height" value="$(arg left_frame_height)" />

        <arg name="offset_time" value="$(arg offset_time)" />

        <arg name="enable_raw" value="$(arg left_enable_raw)" />
        <arg name="enable_rect" value="$(arg left_enable_rect)" />
        <arg name="enable_depth" value="$(arg left_enable_depth)" />
        <arg name="enable_point_cloud" value="$(arg left_enable_point_cloud)" />
    </include>

    <!-- right camera -->
    <arg name="right_enable_cam" default="false" doc="Enable the right camera of the GO1" />
    <arg name="right_fps" default="30.0" doc="The framerate of the right camera." />

    <arg name="right_frame_width" default="928" doc="Captured frame width" />
    <arg name="right_frame_height" default="400" doc="Captured frame height" />

    <arg name="right_enable_raw" default="true" doc="Enable publishing of raw frames." />
    <arg name="right_enable_rect" default="false" doc="Enable publishing of rectified frames." />
    <arg name="right_enable_depth" default="false" doc="Enable publishing of depth map." />
    <arg name="right_enable_point_cloud" default="false" doc="Enable publishing of point cloud data" />

    <include file="$(find unitree_camera)/launch/camera_publisher.launch"
        if="$(arg right_enable_cam)">
        <arg name="fps" value="$(arg right_fps)" />
        <arg name="device_node" value="0" />

        <arg name="frame_width" value="$(arg right_frame_width)" />
        <arg name="frame_height" value="$(arg right_frame_height)" />

        <arg name="offset_time" value="$(arg offset_time)" />

        <arg name="enable_raw" value="$(arg right_enable_raw)" />
        <arg name="enable_rect" value="$(arg right_enable_rect)" />
        <arg name="enable_depth" value="$(arg right_enable_depth)" />
        <arg name="enable_point_cloud" value="$(arg right_enable_point_cloud)" />
    </include>
</launch>