<launch>
    <arg name="keyboard_control" default="false" doc="Whether to launch keyboard control for the robot or not."/>
    <arg name="use_rviz" default="false" doc="Start visualisation with Rviz"/>

    <node pkg="unitree_republisher" type="imu_odom_pub" name="imu_odom"/>

    <include file="$(find unitree_legged_real)/launch/keyboard_control.launch" if="$(arg keyboard_control)"/>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find unitree_republisher)/config/odom.rviz" if="$(arg use_rviz)"/>
</launch>